doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    title Learn Gulp | Faizur Rehman
    meta(name="author", content="Faizur Rehman")
    link(rel="stylesheet", href="css/style.css")

  body
    div.wrapperOutside
      .wrapperInside
        h1 Hello, World! 
        span Faizur Rehman

